@use 'status-dot';

:host {
  display: inline-flex;
}

.work-group-status-badge {
  @include status-dot.base;
}

.work-group-status-badge--active {
  --status-dot: var(--status-dot-active);
}

.work-group-status-badge--done {
  --status-dot: var(--status-dot-done);
}
