.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 88vh;

  mat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 380px;
    max-width: 600px;
    background-color: var(--white-color);

    mat-card-header {
      border-radius: 12px 12px 0 0;
      background: linear-gradient(
        135deg,
        var(--primary-color),
        var(--primary-light-color)
      );
      margin-bottom: 2.4rem;
      padding: 2rem;

      mat-card-title {
        font-size: 1.6rem;
        font-weight: bold;
      }

      mat-card-subtitle {
        font-weight: lighter;
      }

      mat-card-title, mat-card-subtitle {
        color: var(--white-color);
      }
    }
    mat-card-content {
      flex: 1;

      display: flex;
      align-items: center;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      .navigation-wrapper {
        display: flex;
        justify-content: flex-end;

        .back-link {
          font-size: 1rem;
          text-align: right;
          color: var(--primary-color);
          text-decoration: none;
          display: inline;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
