@use 'status-dot';

:host {
  display: inline-flex;
}

.project-status-badge {
  @include status-dot.base;
}

.project-status-badge--prominent {
  @include status-dot.prominent;
}

.project-status-badge--active {
  --status-dot: var(--status-dot-active);
}

.project-status-badge--review {
  --status-dot: var(--status-dot-review);
}

.project-status-badge--closed {
  --status-dot: var(--status-dot-done);
}
