<div class="filter-panel" [class.open]="isOpen()">
  <form class="filter-panel__inner" [formGroup]="form">
    <div class="filter-row-main">
      <label class="filter-field">
        <span>Name</span>
        <input pInputText formControlName="name" placeholder="Enter name" />
      </label>

      <label class="filter-field">
        <span>Surname</span>
        <input pInputText formControlName="surname" placeholder="Enter surname" />
      </label>

      <label class="filter-field">
        <span>Email</span>
        <input pInputText formControlName="email" placeholder="Enter email" />
      </label>

      <label class="filter-field">
        <span>Status</span>
        <p-select
          formControlName="userStatusId"
          [options]="statuses()"
          optionLabel="name"
          optionValue="id"
          placeholder="All"
          [showClear]="true"
          appendTo="body"
        />
      </label>
    </div>

    <div class="filter-row-secondary">

      <label class="filter-field">
        <span>Created From</span>
        <p-datepicker formControlName="createdFrom" [showIcon]="true" appendTo="body" dateFormat="dd.mm.yy" />
      </label>

      <label class="filter-field">
        <span>Created To</span>
        <p-datepicker formControlName="createdTo" [showIcon]="true" appendTo="body" dateFormat="dd.mm.yy" />
      </label>

    </div>
  </form>

  <div class="filter-actions">
    <button pButton type="button" outlined class="btn-cancel" (click)="onCancel()">
      Cancel
    </button>
    <button pButton type="button" class="btn-submit" (click)="onSubmit()">
      Filter
    </button>
  </div>
</div>
