<div class="container">
  <mat-card class="reset-password-card">
    <mat-card-header class="reset-password-card__header">
      <mat-card-title>Reset your password</mat-card-title>
      <mat-card-subtitle>
        Create a new strong password for your account
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="reset-password-card__content">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <app-password-rules [password]="passwordValue()" [confirmPassword]="confirmValue()"/>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput maxlength="40" [type]="hidePassword() ? 'password' : 'text'"
                 formControlName="password" />

          <button class="password-toggle-button" mat-icon-button matSuffix type="button"
                  (click)="hidePassword.set(!hidePassword())">
            <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (form.controls.password.hasError('required') && form.controls.password.touched) {
            <mat-error>Password is required</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm password</mat-label>
          <input matInput maxlength="40" [type]="hideConfirmPassword() ? 'password' : 'text'"
                 formControlName="confirmPassword" />

          <button class="password-toggle-button" mat-icon-button matSuffix type="button"
                  (click)="hideConfirmPassword.set(!hideConfirmPassword())">
            <mat-icon>{{ hideConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          @if (form.controls.confirmPassword.hasError('required') && form.controls.confirmPassword.touched) {
            <mat-error>Confirm password is required</mat-error>
          }
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="form.invalid">
          Reset password
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
