.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  mat-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 460px;
    max-width: 600px;
    background-color: var(--white-color);

    mat-card-header {
      border-radius: 12px 12px 0 0;
      background: linear-gradient(
        135deg,
        var(--primary-color),
        var(--primary-light-color)
      );
      margin-bottom: 1rem;
      padding: 2rem;

      mat-card-title {
        font-size: 1.6rem;
        font-weight: bold;
      }

      mat-card-subtitle {
        font-weight: lighter;
      }

      mat-card-title, mat-card-subtitle {
        color: var(--white-color);
      }
    }
    mat-card-content {
      flex: 1;

      padding: 0 2rem 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
      }
    }
  }
}
