<ng-container *transloco="let t">
<section class="attachments-tab">
  @if (loading()) {
    <app-attachment-list-skeleton />
  } @else if (error()) {
    <div class="tab-error" role="alert">
      <i class="pi pi-exclamation-circle" aria-hidden="true"></i>
      <span>{{ t('attachments.loadFailed') }}</span>
      <button pButton type="button" text="true" (click)="reload()">{{ t('common.retry') }}</button>
    </div>
  } @else if (!nodes().length) {
    <app-empty-state
      icon="pi-paperclip"
      [title]="t('attachments.emptyTicket')"
      [description]="t('attachments.emptyTicketHint')"
    />
  } @else {
    <app-attachment-tree
      [heading]="t('attachments.files')"
      [nodes]="nodes()"
      [stateKey]="listKey()"
      [defaultOpen]="openByDefault"
      (preview)="previewing.set($event)"
      (download)="save($event)"
    />
    @if (hasMore()) {
      <p class="tab-note">{{ t('attachments.firstThousand') }}</p>
    }
  }
</section>

<app-attachment-preview-dialog
  [projectId]="projectId()"
  [attachment]="previewing()"
  (closed)="previewing.set(null)"
  (download)="save($event)"
/>
</ng-container>
