<header class="topbar">
  <div class="left">
    <app-breadcrumbs />
  </div>

  <div class="right">
    <button type="button" class="notification-btn" aria-label="Notifications">
      <i class="pi pi-bell"></i>
      <span class="notification-dot"></span>
    </button>

    <button class="avatar-button"
            type="button"
            (click)="userMenu.toggle($event)">
      <div class="avatar">
        @if (avatarUrl() && meModel()?.avatarPath !== 'default-avatar.png') {
          <img [src]="avatarUrl()" [alt]="meModel()?.name" />
        } @else {
          <span class="avatar__initials">
            {{ meModel()?.name?.[0] }}{{ meModel()?.surname?.[0] }}
          </span>
        }
      </div>

      <div class="avatar-button__info">
        <span class="avatar-button__name">{{ meModel()?.name }} {{ meModel()?.surname }}</span>
      </div>
      <i class="avatar-button__chevron pi" [class.pi-chevron-up]="isMenuOpen()" [class.pi-chevron-down]="!isMenuOpen()"></i>
    </button>

    <p-menu
      #userMenu
      [model]="userMenuItems"
      [popup]="true"
      appendTo="body"
      styleClass="user-menu"
      (onShow)="isMenuOpen.set(true)"
      (onHide)="isMenuOpen.set(false)"
    />
  </div>
</header>
