<header class="topbar">
  <div class="left">
    <app-breadcrumbs />
  </div>

  <div class="right">
    <button mat-icon-button class="notification-btn">
      <mat-icon>notifications</mat-icon>
      <span class="notification-dot"></span>
    </button>

    <button class="avatar-button"
            [matMenuTriggerFor]="userMenu"
            (menuOpened)="isMenuOpen.set(true)"
            (menuClosed)="isMenuOpen.set(false)">
      <div class="avatar">
        @if (meModel()?.avatarPath && meModel()?.avatarPath !== 'default-avatar.png') {
          <img [src]="meModel()?.avatarPath" [alt]="meModel()?.name" />
        } @else {
          <span class="avatar__initials">
            {{ meModel()?.name?.[0] }}{{ meModel()?.surname?.[0] }}
          </span>
        }
      </div>

      <div class="avatar-button__info">
        <span class="avatar-button__name">{{ meModel()?.name }} {{ meModel()?.surname }}</span>
      </div>
      <mat-icon class="avatar-button__chevron">
        {{ isMenuOpen() ? 'expand_less' : 'expand_more' }}
      </mat-icon>
    </button>

    <mat-menu #userMenu="matMenu" class="user-menu">
      <button mat-menu-item (click)="onToggleSettings()" class="user-menu__settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>

      <button mat-menu-item (click)="onToggleHelp()" class="user-menu__help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
      </button>

      <button mat-menu-item class="user-menu__logout" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</header>
