<section class="file-upload" *transloco="let t">
  <div class="file-upload__heading">
    <span>{{ label() || t('common.image') }}</span>
  </div>

  <div class="file-upload__body">
    <div
      class="file-upload__preview"
      [class.file-upload__preview--empty]="!previewUrl()"
      [class.file-upload__preview--round]="roundPreview()"
    >
      @if (previewUrl()) {
        <img [src]="previewUrl()" [alt]="previewAlt() || t('common.imagePreview')" />
      } @else {
        <i class="pi pi-image"></i>
      }
    </div>

    <div class="file-upload__content">
      <div class="file-upload__actions">
        <p-fileUpload
          #upload
          mode="basic"
          [chooseLabel]="chooseLabel() || t('common.chooseFile')"
          chooseIcon="pi pi-upload"
          [accept]="accept"
          [maxFileSize]="imageValidator.maxSizeBytes"
          [auto]="false"
          [customUpload]="true"
          (onSelect)="onFileSelected($event, upload)"
        >
          <ng-template #filelabel></ng-template>
        </p-fileUpload>
        @if (removable() && fileLabel()) {
          <button
            type="button"
            class="file-upload__remove"
            [attr.title]="t('common.deletePhoto')"
            [attr.aria-label]="t('common.deletePhoto')"
            (click)="remove(upload)"
          >
            <i class="pi pi-times"></i>
          </button>
        }
      </div>

      <div class="file-upload__file-line" [class.file-upload__file-line--empty]="!fileLabel()">
        <span>{{ t('common.selectedFile') }}</span>
        <strong [title]="fileLabel()">{{ fileLabel() || t('common.noFile') }}</strong>
      </div>
      <p>{{ t('common.imageHint') }}</p>

      <small [class.visible]="errorMessage()">{{ errorMessage() || ' ' }}</small>
    </div>
  </div>
</section>
