@let item = facts();

<section class="work-item-facts">
  <h3>Information</h3>
  <dl>
    @if (item.type; as type) {
      <div>
        <dt>Type</dt>
        <dd><app-work-item-type [type]="type" /></dd>
      </div>
    }
    <div>
      <dt>Priority</dt>
      <dd><app-work-item-priority [priority]="item.priority" /></dd>
    </div>
    <div>
      <dt>Assignee</dt>
      <dd>
        <app-work-item-assignee [assignee]="item.assignee" />
      </dd>
    </div>
    <div>
      <dt>Deadline</dt>
      <dd>
        @if (item.deadline; as deadline) {
          <span class="deadline-value">
            {{ deadline | date: 'dd.MM.yyyy' }}
            <small [class.deadline-value--overdue]="deadline | isOverdue">
              {{ deadline | deadlineLabel }}
            </small>
          </span>
        } @else {
          <span class="fact-empty">Not set</span>
        }
      </dd>
    </div>
  </dl>
</section>
