@if (assignee(); as assignee) {
  <span class="assignee-chip" [title]="assignee | personName">
    <app-profile-avatar
      [imageUrl]="assignee.avatarPath"
      [fullName]="assignee | personName"
      [initials]="assignee | personInitials"
      [previewEnabled]="false"
    />
    @if (!avatarOnly()) {
      <span>{{ shortName() ? (assignee | personShortName) : (assignee | personName) }}</span>
    }
  </span>
} @else {
  <span
    class="assignee-chip assignee-chip--unassigned"
    *transloco="let t"
    [attr.aria-label]="avatarOnly() ? t('common.unassigned') : null"
  >
    <i class="pi pi-user" aria-hidden="true"></i>
    @if (!avatarOnly()) {
      <span>{{ t('common.unassigned') }}</span>
    }
  </span>
}
