@if (previewEnabled()) {
  <button
    class="avatar-button"
    type="button"
    [disabled]="!previewEnabled() || !canShowImage()"
    (click)="openPreview()"
  >
    <ng-container *ngTemplateOutlet="avatarContent" />
  </button>
} @else {
  <ng-container *ngTemplateOutlet="avatarContent" />
}

<ng-template #avatarContent>
  <div
    class="avatar"
    [class.avatar--static]="!previewEnabled()"
    role="img"
    [attr.aria-label]="fullName()"
  >
    @if (visibleImageUrl(); as imageUrl) {
      <img [src]="imageUrl" alt="" (error)="onImageError()" />
    } @else {
      <span>{{ initials() }}</span>
    }
  </div>
</ng-template>

<p-dialog
  [(visible)]="previewVisible"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  styleClass="avatar-preview-dialog"
>
  @if (visibleImageUrl(); as imageUrl) {
    <img
      class="avatar-preview-image"
      [src]="imageUrl"
      [alt]="fullName()"
      (error)="onImageError()"
    />
  }
</p-dialog>
