<button
  class="avatar-button"
  type="button"
  [disabled]="!previewEnabled() || !canShowImage()"
  (click)="openPreview()">
  <div class="avatar">
    @if (visibleImageUrl(); as imageUrl) {
      <img [src]="imageUrl" [alt]="fullName()" (error)="onImageError()" />
    } @else {
      <span>{{ initials() }}</span>
    }
  </div>
</button>

<p-dialog
  [(visible)]="previewVisible"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  styleClass="avatar-preview-dialog">
  @if (visibleImageUrl(); as imageUrl) {
    <img
      class="avatar-preview-image"
      [src]="imageUrl"
      [alt]="fullName()"
      (error)="onImageError()" />
  }
</p-dialog>
