<div class="breadcrumbs">
  @for (crumb of breadcrumbs(); track crumb.path; let last = $last) {
    <div class="crumb">
      @if (last) {
        <span class="crumb__link crumb__link--current" aria-current="page">
          @if (crumb.icon) {
            <i class="crumb__icon pi" [ngClass]="crumb.icon"></i>
          }
          <span class="crumb__title">{{ crumb.title }}</span>
        </span>
      } @else {
        <a
          [routerLink]="crumb.path"
          class="crumb__link"
          [pTooltip]="crumb.title"
          [tooltipDisabled]="crumb.title.length < 20"
        >
          @if (crumb.icon) {
            <i class="crumb__icon pi" [ngClass]="crumb.icon"></i>
          }
          <span class="crumb__title">{{ crumb.title }}</span>
        </a>
      }

      @if (!last) {
        <i class="crumb__separator pi pi-chevron-right"></i>
      }
    </div>
  }
</div>
