@let item = value();
@if (!item.name) {
  <span class="history-value history-value--unknown">Unknown</span>
} @else {
  @switch (field()) {
    @case (fields.Status) {
      @switch (entityType()) {
        @case (entityTypes.Project) {
          <app-project-status-badge [status]="item | historyDictionary" />
        }
        @case (entityTypes.WorkTicket) {
          <app-ticket-status-badge [status]="item | historyDictionary" />
        }
        @case (entityTypes.WorkTask) {
          <app-task-status-badge [status]="item | historyDictionary" />
        }
        @default {
          <app-work-group-status-badge [status]="item | historyDictionary" />
        }
      }
    }
    @case (fields.Priority) {
      <app-work-item-priority [priority]="item | historyDictionary" />
    }
    @case (fields.Type) {
      @if (entityType() === entityTypes.WorkTicket) {
        <app-work-item-type [type]="item | historyDictionary" />
      } @else {
        <span class="history-value">{{ item.name }}</span>
      }
    }
    @case (fields.Assignee) {
      <app-work-item-assignee [assignee]="item.person" />
    }
    @case (fields.WorkTicket) {
      <a
        class="history-value history-value--ref"
        [routerLink]="['/projects', projectId(), 'tickets', item.id]"
      >
        <app-work-item-ref [type]="kinds.Ticket" [code]="item.code" [labelled]="false" />
        <span class="history-value__title">{{ item.name }}</span>
      </a>
    }
    @case (fields.ParentWorkTask) {
      <span class="history-value history-value--ref">
        <app-work-item-ref [type]="kinds.Task" [code]="item.code" [labelled]="false" />
        <span class="history-value__title">{{ item.name }}</span>
      </span>
    }
    @case (fields.Deadline) {
      <span class="history-value">{{ item.id | historyDate }}</span>
    }
    @case (fields.StartDate) {
      <span class="history-value">{{ item.id | historyDate }}</span>
    }
    @case (fields.EndDate) {
      <span class="history-value">{{ item.id | historyDate }}</span>
    }
    @case (fields.Description) {
      <p class="history-value history-value--text">{{ item.name }}</p>
    }
    @case (fields.Attachment) {
      <span class="history-value history-value--file">
        <i class="pi pi-file" aria-hidden="true"></i>
        <span class="history-value__title">{{ item.name }}</span>
      </span>
    }
    @default {
      <span class="history-value history-value--wrap">{{ item.name }}</span>
    }
  }
}
